<script setup>
import { ref } from 'vue';

const query = ref('');

defineExpose({ query });
</script>

<template>
  <input
    type="text"
    placeholder="Insert XPath query here..."
    v-model="query"
  />
</template>

<style scoped>
input {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row: 2;
}
</style>
