<script setup>
import { ref, onMounted } from 'vue';

import { VAceEditor } from 'vue3-ace-editor';

const content = ref('');
const aceEditor = ref(null);

onMounted(() => aceEditor.value.focus());

defineExpose({ content });
</script>

<template>
  <v-ace-editor
    v-model:value="content"
    lang="xml"
    theme="dawn"
    class="editor"
    :printMargin="false"
    ref="aceEditor"
    placeholder="Paste your XML content here..."
  />
</template>

<style scoped></style>
