<script setup>
import { ref } from 'vue';

const input = ref('');

defineExpose({ input });
</script>

<template>
  <pre>{{ input }}</pre>
</template>

<style scoped>
pre {
  width: 100%;
  height: 100%;
  grid-column-start: 4;
  grid-column-end: 7;
  background-color: white;
  border-left: 1px dashed;
  margin-top: 0px;
  overflow: auto;
}
</style>
