<script setup>
import { computed, ref, watch } from 'vue';

import InputEditor from './components/InputEditor.vue';
import OutputViewer from './components/OutputViewer.vue';
import CommandLine from './components/CommandLine.vue';
import { XPathService } from './services/XPathService.js';

const inputEditor = ref(null);
const outputViewer = ref(null);
const commandLine = ref(null);
const content = computed(() => inputEditor.value?.content);
const query = computed(() => commandLine.value?.query);

watch([content, query], () => {
  outputViewer.value.input = XPathService.apply(
    inputEditor.value?.content,
    commandLine.value?.query
  );
});
</script>

<template>
  <main>
    <InputEditor ref="inputEditor" />
    <OutputViewer ref="outputViewer" />
    <CommandLine ref="commandLine" />
  </main>
</template>

<style>
main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 90vh 5vh;
}
</style>
